$headerheight: 3rem;
$footerheight: 2rem;
html {
    background: black;
    color: white;
    font-family: 'Dosis', sans-serif; 
    body {
        padding: 0 2rem;
        header {
            position: fixed;
            display: flex;
            top: 0;
            left: 0;
            width: 100%;
            height: $headerheight;
            background: white;
            color: black;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            span {
                vertical-align: middle;
                i {
                    cursor: pointer;
                    color: black;
                }
            }
        }
        main {
            h1 {
                width: 100%;
                font-size: 3rem;
                text-align: center;
                padding: 1rem 0 2rem 0;
                i {
                    font-size: 1rem;
                    vertical-align: middle;
                    border-radius: 1rem;
                    border: 1px solid white;
                    padding: 0.25rem;
                    cursor: pointer;
                }
            }
            margin-top: $headerheight;
        }
        div#modal {
            display: none;
            border: 0.25rem solid white;
            max-height: 75%;
            width: 30%;
            position: fixed;
            object-position: center;
            top: 25%;
            left: 35%;
            background: hsla(0, 0%, 0%, 0.9);
            border-radius: 1rem;
            flex-flow: column;
            align-items: center;
            justify-content: space-around;
            padding: 2rem;
            h2 {
                font-size: 2rem;
            }
            form {
                width: 100%;
                p {
                    padding: 0.5rem;
                    input, textarea {
                        width: 100%;
                        outline: none;
                        border: none;
                        box-sizing: border-box;
                        padding: 0.25rem;
                    }
                }
            }
        }
        footer {
            position: fixed;
            display: flex;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: $footerheight;
            background: white;
            color: black;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
        }
    }
}