{% extends 'layouts/main.html' %}
{% block title %}CheatSheets | Categories{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css/categories.css">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/libs/jquery.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/store_jwt.js"></script>
{% endblock %}
{% block content %}
<h1>Categories <i class='fas fa-plus' title='New Category'></i></h1>
<section>
    {% for cat in cats %}
    <a href='/categories/{{ cat.id }}' class='category'>
        <h2>{{ cat.name }}</h2>
        <p>{{ cat.description }}</p>
    </a>
    {% endfor %}
</section>
{% endblock %}