<h2>{{ action }} Category</h2>
<form action='{{ sub_url }}' method='{{ sub_method }}' novalidate>
    {{ form.hidden_tag() }}
    <span>
        {{ form.name.label }}<br>
        {% if category.name is not none %}
        {{ form.name(size=16, value=category.name) }}
        {% else %}
        {{ form.name(size=16) }}
        {% endif %}
    </span>

    <span>
        {{ form.description.label }}<br>
        {% if category.description is not none %}
        <textarea id="description" name="description">{{ category.description }}</textarea>
        {% else %}
        {{ form.description() }}
        {% endif %}
    </span>

    {% if category.name is not none %}
    <i class='fas fa-trash upper-right' title='delete {{ category.name }} cheatsheet'></i>
    {% endif %}

    <i class='fas fa-times' title='exit modal'></i>

    <span>{{ form.submit() }}</span>
</form>
<!-- May be able to turn this into one generic form that loops through object properties -->