{% extends 'layouts/main.html' %}
{% block title %}{{ cat.name }} Cheatsheet{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css/cheatsheet.css">
<link rel="stylesheet" href="/static/css/libs/jquery-ui.css">
{% endblock %}
{% block scripts %}
<script defer>
    // When you click on a concept name it copies it to clipboard
    $.getScript("/static/js/libs/clipboard.min.js", function(){
        //instance binding
        new ClipboardJS('a.copy-to-clipboard');
        $("a.copy-to-clipboard").on("click", function(event){
            event.preventDefault();
        });
    });
</script>
{% endblock %}
{% block content %}
<h1>{{ cat.name }} <i class='fas fa-plus' data-model='topic' data-parent-id='{{ cat.id }}' title='New {{ cat.name }} Topic'></i></h1>
<section id='topics'>
    {% for t in cat.topics %}
    {{ t.html|safe }}
    <!-- {% for c in t.concepts %} 
        
        {% endfor %} -->
    {% endfor %}
</section>
{% endblock %}
