{% extends 'layouts/form.html' %}
{% block content %}
<span>
    {{ form.url.label }}<br>
    {% if object.url is not none %}
    {{ form.url(value=object.url) }}
    {% else %}
    {{ form.url() }}
    {% endif %}
</span>
<span>
    {{ form.topic_id.label }}<br>
    {{ form.topic_id(value=parent_id) }}
</span>
<span class='tags'>
    <label for="tags" style='display: inline;'>Tags:</label>
    <input type="text" style='display: inline;' name="concept-tag" id="concept-tag">
    {% for tag in object.formatted_tags %}
        <li class='concept-tag'>{{ tag.name }}</li>
    {% endfor %}
</span>
{% endblock %}